<head><link href=".././css/styles.css?34fa27f2c7d7877b4e41" rel="stylesheet"></head><!-- Footer -->
<footer class="footer bg-light text-lg-start">
    <!-- Grid container -->
    <div class="container">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-12 mb-4">
                <ul class="list-unstyled mb-0 d-flex">
                    <li>
                        <a href="/account/terms.html" class="text-dark">이용약관&nbsp;&nbsp;|</a>
                    </li>
                    <li>
                        <a href="/account/policy.html" class="text-dark">&nbsp;&nbsp;개인정보처리방침&nbsp;&nbsp;|</a>
                    </li>
                    <li>
                        <a href="/cscenter/notice.html" class="text-dark">&nbsp;&nbsp;고객지원</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#partnership" class="text-dark">&nbsp;&nbsp;제휴 및 입점문의</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->


            <!-- 제휴 및 입점 문의 -->
            <!-- Modal -->
            <div class="modal fade" id="partnership" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog popup">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h4 class="modal-title text-md" id="exampleModalLabel">제휴 및 입점 문의</h4>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img class="sm-icon" srcset="/images/icon-cancel-gray.png 400w,
                                                                                                                                                /images/icon-cancel-gray@2x.png 700w,
                                                                                                                                                /images/icon-cancel-gray@3x.png 1000w" src="/images/icon-cancel-gray@3x.png" alt="닫기" />
              </button> -->
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="업체명">
                            <input type="text" class="form-control mt-3" placeholder="브랜드명">
                            <input type="text" class="form-control mt-3" placeholder="담당자명">
                            <input type="text" class="form-control mt-3" placeholder="담당자 이메일">
                            <input type="text" class="form-control mt-3" placeholder="담당자 전화번호">
                            <textarea class="form-control mt-4" cols="30" rows="10" placeholder="구체적인 제휴내용을 입력하세요"></textarea>
                        </div>
                        <div class="mt-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check">
                                <label class="custom-control-label checkbox text-dark" for="check">개인정보 수집 및 이용에 동의</label>
                            </div>
                            <textarea class="form-control mt-2 bg-white" cols="30" rows="10" readonly></textarea>

                        </div>
                        <div class="modal-footer buttons">
                            <button type="button" class="btn btn-outline-primary list-one" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary list-two">신청하기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Grid column-->
            <div class="col-lg-12 mb-4 m-t5">
                <h5 class="text-uppercase mb-0">액티부키</h5>
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <div class="m-t1">
                            <span>사업자 등록번호 : 123-56-789</span>
                            <span>대표 : 이동원</span>
                        </div>
                        <div class="m-th">전라북도 전주시 완산구 효자동2가 바우배기2길 18, 2층 202호</div>
                    </div>
                    <!-- sns -->
                    <ul class="sns-group">
                        <li class="sns-list">
                            <a href="">
                                <img class="md-icon" srcset="/images/naver-footer.png 400w,
                                                /images/naver-footer@2x.png 700w,
                                                /images/naver-footer@3x.png 1000w" src="/images/icon-right-white@3x.png" alt="네이버" />
                            </a>
                        </li>
                        <li class="sns-list">
                            <a href="">
                                <img class="md-icon" srcset="/images/facebook.png 400w,
                                                /images/facebook@2x.png 700w,
                                                /images/facebook@3x.png 1000w" src="/images/icon-right-white@3x.png" alt="카카오" />
                            </a>
                        </li>
                        <li class="sns-list">
                            <a href="">
                                <img class="md-icon" srcset="/images/instagram.png 400w,
                                                /images/instagram@2x.png 700w,
                                                /images/instagram@3x.png 1000w" src="/images/icon-right-white@3x.png" alt="인스타그램" />
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

</footer>
<!-- Footer --><script src=".././js/index.bundle.js?34fa27f2c7d7877b4e41"></script>