<head><link href=".././css/styles.css?34fa27f2c7d7877b4e41" rel="stylesheet"></head><meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1">
<!-- favicon.ico in the root directory -->
<link rel="apple-touch-icon" href="favicon.ico">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/ko.min.js" crossorigin="anonymous"></script> -->
<script src="/js/dotdotdot.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script> -->
<script src="/js/owlcarousel.js"></script>
<script type="text/javascript" defer src="/js/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />
<script type="text/javascript" defer src="/js/daterangepicker.js"></script>

<!-- swiper css, js -->
<link rel="stylesheet" href="/css/swiper-bundle.min.css">
<script src="/js/swiper-bundle.js"></script>


<!-- header -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            if ($('.navbar-collapse').hasClass('show')) {
                $('body').removeClass('hidden');
            } else {
                $('body').addClass('hidden');
            }
        })

    })

</script><script src=".././js/index.bundle.js?34fa27f2c7d7877b4e41"></script>