<head><link href=".././css/styles.css?34fa27f2c7d7877b4e41" rel="stylesheet"></head><header class="header">

  <div class="container">
    <div class="header-top">
      <!-- 로그인 전 -->
      <ul class="d-flex justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/login.html">로그인<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cscenter/notice.html">고객지원</a>
        </li>
      </ul>
      <!-- 로그인 후 -->
      <!-- <ul class="d-flex justify-content-end">
        <li class="nav-item active">
          <button type="button" class="nav-link">로그아웃</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/farmPlay.html">고객지원</a>
        </li>
      </ul> -->
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/index.html">
        <img src="/images/logo@3x.png" alt="로고" class="nav-logo">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-controls="navbarSupportedContent backdropUi" aria-expanded="false" aria-label="Toggle navigation">
        <div class="acetrnt-toggle" data-click-state="1">
          <span class="icon-bar line-1"></span>
          <span class="icon-bar line-2"></span>
          <span class="icon-bar line-3"></span>
        </div>
      </button>


      <div class="navbar-collapse collapse multi-collapse" id="navbarSupportedContent">
        <!-- app header ui -->
        <div class="app-header-ui">
          <a href="/login.html" class="login">로그인 해주세요
            <img class="sm-icon" srcset="/images/icon-right-white.png 400w,
                    /images/icon-right-white@2x.png 700w,
                    /images/icon-right-white@3x.png 1000w" src="/images/icon-right-white@3x.png" alt="로그인페이지로이동" />
          </a>
          <div class="list">
            <a href="/index.html">
              <img class="sm-icon" srcset="/images/icon-home-white.png 400w,
                      /images/icon-home-white@2x.png 700w,
                      /images/icon-home-white@3x.png 1000w" src="/images/icon-home-white@3x" alt="홈" />
              홈
            </a>
            <a href="">
              <img class="sm-icon" srcset="/images/icon-mypage-white.png 400w,
                      /images/icon-mypage-white@2x.png 700w,
                      /images/icon-mypage-white@3x.png 1000w" src="/images/icon-mypage-white@3x" alt="마이페이지" />
              마이페이지
            </a>
            <!-- non member -->
            <a href="/login.html">
              <img class="sm-icon" srcset="/images/icon-date-white.png 400w,
                      /images/icon-date-white@2x.png 700w,
                      /images/icon-date-white@3x.png 1000w" src="/images/icon-date-white@3x.png" alt="예약확인" />
              예약확인
            </a>
            <!-- member -->
            <!-- <a href="/mypage/myBook.html">
              <img class="sm-icon" srcset="/images/icon-date-white.png 400w,
                                  /images/icon-date-white@2x.png 700w,
                                  /images/icon-date-white@3x.png 1000w" src="/images/icon-date-white@3x.png" alt="예약확인" />
              예약확인
            </a> -->
          </div>
        </div>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/stay/stayMain.html">숙소<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exp/expMain.html">체험</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/promotions/promoMain.html">프로모션</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/productsMain.html">상품구매</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">우수체험관</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 web-header-ui">
          <!-- 로그인 전 -->
          <div>
            <a href="/mypage/myBook.html" class="nav-right primary-color" data-toggle="modal" data-target="#reservationConfirm">예약확인&nbsp;</a>
          </div>
          <!-- 로그인 후 -->
          <div>
            <a href="/mypage/myBook.html" class="nav-right primary-color">예약확인&nbsp;</a>
            <a href="/login.html" class="nav-right">|&nbsp; 마이페이지</a>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header><script src=".././js/index.bundle.js?34fa27f2c7d7877b4e41"></script>